/* Color Theme Swatches in Hex */
.Abstract-Finance-1-hex { color: #163840; }
.Abstract-Finance-2-hex { color: #346773; }
.Abstract-Finance-3-hex { color: #5B98A6; }
.Abstract-Finance-4-hex { color: #50BF80; }
.Abstract-Finance-5-hex { color: #85F2A0; }

body {
    background-color: #163840 !important;
    text-align: center;
    margin: auto;
}

.card-container {
    display: flex;
    flex-direction: row;
    max-height: 90%;
}

img {
    width:50%;
    height:100%;
}
.form-text {
    color: #50BF80;
}
h1 {
    color: #85F2A0;
    text-align: center;
}

h2 {
    color: #85F2A0;
    text-align: center;
}

.card {
    width: 40%;
    margin: 50px auto;
    padding: 30px;
    border:3px;
    border-color:#346773;
    border-radius: 10%;
    box-shadow: 0 0 20px rgba(34, 34, 34, 0.1);
}