/* Color Theme Swatches in Hex */
.Abstract-Finance-1-hex { color: #163840; }
.Abstract-Finance-2-hex { color: #346773; }
.Abstract-Finance-3-hex { color: #5B98A6; }
.Abstract-Finance-4-hex { color: #50BF80; }
.Abstract-Finance-5-hex { color: #85F2A0; }

body {
    background-color: #163840 !important;
}
h2 {
    color: aliceblue;
}
.form-text{
    color:aliceblue;
}
.navbar {
    opacity: 60%;
    color: #50BF80;
}

.nav-item {
    color: #85F2A0;
}

.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
}
.favorite-button .fas {
    color: gold;
}
.results{
    max-height: min-content;
    overflow: scroll;
}

.card {
    background-color: #163840 !important;
    border: 1px;
}
.card-body {
    background-color: #163840;
    color:#50BF80;
    border-radius: 20%;
    margin: auto;
}

.add-button {
    background-color: #50BF80;
    border: #163840;
    border-radius: 15%;
    color:#163840;
    margin: 0 10px;
}

.delete-button {
    background-color: darkred;
    border: #163840;
    border-radius: 15%;
    color: #5B98A6;
    margin: 0 10px;
}