

/* Color Theme Swatches in Hex */
.Abstract-Finance-1-hex { color: #163840; }
.Abstract-Finance-2-hex { color: #346773; }
.Abstract-Finance-3-hex { color: #5B98A6; }
.Abstract-Finance-4-hex { color: #50BF80; }
.Abstract-Finance-5-hex { color: #85F2A0; }

body {
    background-color: #163840 !important;
}

.navbar {
    opacity: 60%;
    color: #50BF80;
}

.nav-link {
    color: #85F2A0;
}

