<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Successful</title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/login.css">

</head>
<body>
<div id="logout-container" style="text-align: center;color:green">
    <h1 id="logout-message">Logout Successful</h1>
</div>

</body>
</html>