<!--TODO: create layout for portfolio (graph and table)-->

<body>
    {{#if noFavorites}}
    <p>You currently have no favorite stocks.</p>
    {{else}}
    <p id="demo">w</p>

    <div class="container">
        <canvas id="myChart" width="50" height="50"></canvas>
    </div>
    <script>
        //creates the chart ctx
        const ctx = document.getElementById('myChart');

        //document.getElementById("demo").innerHTML = a;

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['3 days ago','2 days ago','yesterday'],
                datasets: [{
                    label: 'Portfolio Value',
                    data: [{{db_db_yesterday_sum}}, {{db_yesterday_sum}}, {{yesterday_sum}}],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            }
        });

    </script>
    {{/if}}
    
</body>
